<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>TestFrontend</title>

    <link rel="stylesheet" href="assets/libs/bundle.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body ng-app="app" ng-cloak layout="column">

<div flex layout="row" ng-controller="AppController" id="wrapper">
    <md-sidenav layout="column" md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-4dp" id="sidenav" md-component-id="main">
        <md-list class="user">
            <md-list-item>
                <img class="md-avatar" src="assets/img/user.png"/>
                <div class="md-list-item-text" layout="column">
                    <h4>Trevor Reyes</h4>
                </div>
            </md-list-item>
        </md-list>
        <md-list class="controls">
            <md-list-item>
                <div layout="row" flex class="heading">
                    <span class="primary" flex>Projects</span>
                    <md-button class="secondary md-icon-button"  ng-click="toggleProjectPanel()">
                        <md-icon class="icons8-plus"></md-icon>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
        <md-list flex class="projects">
            <md-list-item ng-repeat="project in projects" ng-click="showTasksByProject(project.id)" ng-class="{active: currentProject == project.id}">
                <div class="project" layout="row" flex>
                    <span class="primary"  flex="70">{{project.name}}</span>
                    <span class="secondary" flex="30">{{taskCount[project.id]}}</span>
                </div>
            </md-list-item>
        </md-list>

        <md-list class="bottom">
            <md-list-item>
                <button class="md-button">
                    Log out
                </button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div layout="column" flex>
    <md-toolbar class="header-toolbar">
        <div class="md-toolbar-tools">
            <md-button  hide-gt-md ng-click="toggleMainSidenav()">Menu</md-button>
            <md-button class="md-icon-button" ng-click="toggleSearchBar()" id="search-btn">
                <md-icon md-font-set="i8" md-font-icon="icons8-search"></md-icon>
            </md-button>
            <div flex class="searchbox" id="searchbox">
                <md-autocomplete md-items="[]" ng-show="searchBarIsOn" class="toggled-item" focus-on="searchBarIsOn">

                </md-autocomplete>
            </div>
            <md-menu>
                <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon md-font-set="i8" md-font-icon="icons8-more" md-menu-align-target></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="editProject($event)">
                            <md-icon class="icons8-edit"></md-icon>
                            Edit
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="confirmProjectRemoval($event)">
                            <md-icon class="icons8-delete"></md-icon>
                            Delete
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content id="content" flex layout="column">

        <div layout="row" ng-show="hasTasks()">
            <div flex></div>
            <div class="task-list" >
                <div class="task repeat-item" ng-repeat="(key, value) in currentTaskList | groupBy: 'dateName'">
                    <h4>{{ key }}<span ng-show="value[0].date"> ({{ value[0].date }})</span></h4>
                    <md-list class="md-whiteframe-6dp">
                        <md-list-item ng-repeat="task in value" ng-click="viewTask(task.id)" class="repeat-item">
                            <md-radio-group>
                                <md-radio-button layout="row" layout-align="start center" ng-click="completeTask(task.id)">
                                </md-radio-button>
                            </md-radio-group>
                            <div class="name">{{task.name}}</div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
            <div flex></div>
        </div>
        <div flex ng-hide="hasTasks()" layout-align="center center" layout="row" class="no-tasks repeat-item">

            <div layout="column" flex layout-align="center center">
                <md-icon class="icons8-todo-list"></md-icon>
                <h3>Have a good day</h3>
            </div>

        </div>
        <md-button  class="md-fab md-fab-bottom-right toggled-item" id="newProject" ng-show="currentProject" aria-label="Create a project"
                    ng-click="toggleTaskPanel()">
            <md-icon md-font-set="i8" md-font-icon="icons8-plus" class="toggled-item"></md-icon>
        </md-button>
    </md-content><!-- #content -->
    </div>

    <md-sidenav class="md-whiteframe-4dp md-sidenav-right" md-component-id="tasks">
        <div layout="row" class="header">
            <div class="close-btn">
                <md-button class="md-icon-button" ng-click="toggleTaskPanel()" aria-label="Toggle task panel">
                    <md-icon md-font-set="i8" md-font-icon="icons8-delete-2"></md-icon>
                </md-button>
                <span>ESC</span>
            </div>
            <div flex>
                <h3>
                    Create new task
                </h3>
            </div>
        </div>
        <div layout="row">
            <div class="right-col"></div>
            <div flex>
                <form>
                    <md-input-container class="md-block">
                        <label>Task name</label>
                        <input type="text">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <input type="text">
                    </md-input-container>
                </form>
            </div>
            <button class="md-fab md-fab-bottom-right md-button" id="newProject" ng-click="toggleTaskPanel()">
                <md-icon md-font-set="i8" md-font-icon="icons8-checkmark"></md-icon>
            </button>
        </div>
    </md-sidenav><!-- #tasks -->

    <md-sidenav class="md-whiteframe-4dp md-sidenav-right" md-component-id="projects">
        <div layout="row" class="header">
            <div class="close-btn">
                <md-button class="md-icon-button" ng-click="toggleProjectPanel()" aria-label="Toggle project panel">
                    <md-icon md-font-set="i8" md-font-icon="icons8-delete-2"></md-icon>
                </md-button>
                <span>ESC</span>
            </div>
            <div flex>
                <h3>
                    Create new project
                </h3>
            </div>
        </div>
        <div layout="row">
            <div class="right-col"></div>
            <div flex>
                <form>
                    <md-input-container class="md-block">
                        <label>Project name</label>
                        <input type="text">
                    </md-input-container>
                </form>
            </div>
            <button class="md-fab md-fab-bottom-right md-button" id="newProject"  aria-label="Add project"
                    ng-click="toggleProjectPanel()">
                <md-icon md-font-set="i8" md-font-icon="icons8-checkmark"></md-icon>
            </button>
        </div>
    </md-sidenav><!-- #projects -->

    <md-sidenav class="md-whiteframe-4dp md-sidenav-right" md-component-id="view-task">
        <div layout="row" class="header">
            <div class="close-btn">
                <md-button class="md-icon-button" ng-click="closeTask()">
                    <md-icon md-font-set="i8" md-font-icon="icons8-delete-2"></md-icon>
                </md-button>
                <span>ESC</span>
            </div>
            <div flex="20"></div>
            <div flex>
                <h3>{{currentTask.name}}</h3>
            </div>
            <div flex="20" class="actions" layout="row" layout-align="start end">
                <md-button>
                    <md-icon md-font-set="i8" md-font-icon="icons8-edit"></md-icon>
                </md-button>
                <md-button>
                    <md-icon md-font-set="i8" md-font-icon="icons8-delete"></md-icon>
                </md-button>
            </div>
        </div>
        <div layout="row">
            <div class="right-col"></div>
            <div flex>
                <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </md-sidenav><!-- #view-task -->

</div><!-- #wrapper -->


<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->

<!-- Third party libs -->
<script src="assets/libs/bundle.js"></script>
<!-- /third party libs -->

<!-- The app -->
<script src="app/app.js"></script>
<!-- /app -->
</body>
</html>
