%normal-case {
  text-transform: none;
}
body {
  overflow-x: hidden;
  font-family: sf_ui_textregular;
  font-size: 15px;

  * {
    @extend %normal-case;
  }
}

#sidenav {
  width: 342.5px;
  background-color: $dark;
  padding: 0 30px;
  padding-top: 4px;

  .active {
    background-color: $purple;
  }

  md-list-item {
    * {
      color: $white;
    }

    span.primary {
      text-align: left;
      float: left;
    }

    span.secondary {
      text-align: right;
      float: right;
    }
  }

  .user {

    md-list-item {
      padding-left: 10px;
    }

    img.md-avatar {
      width: 50px;
      height: 50px;
      border: 1px solid white;
      padding: 4px;
    }

    h4 {
      color: $white;
      font: {
        family: sf_ui_textsemibold;
        size: 15px;
      }
      padding-left: 4px;
    }
  }

  .controls, .projects {
    padding: 0;

    md-list-item {
      padding: 0;
      height: 40px;
      min-height: 40px;
    }

    md-list-item,
    .md-button {
      border-radius: 5px;
    }

  }

  .controls {
    margin-top: 9px;
    color: $blue-grey;

    .heading {
      line-height: 40px;
      margin: 0;
      min-height: 40px;
      padding: 0 15px;
    }


    span.primary {
      font: {
        family: sf_ui_textsemibold;
        size: 12px;
      }
    }

    .secondary {
      float: right;
      margin-right: -13px;
    }

    md-icon {
      font-size: 22px;
      padding: 0;
      text-align: right;
      min-width: 0;

    }
  }

  .projects {
    margin-top: 4px;

    .md-button {
      line-height: 40px;
      margin: 0;
      min-height: 40px;
      padding: 0 15px;
    }

    .project {
      letter-spacing: 0.5px;
    }
  }

  .bottom {
    md-list-item {
      padding: 0;
    }

    .md-button {
      margin: 0;
      padding: 0 15px;
      text-align: left;
      letter-spacing: 1px;
    }
  }
}

md-toolbar.header-toolbar {
  background: $fill;
  border-bottom: 1px solid $grey;
  height: 50px;
  min-height: 50px;

  .md-toolbar-tools {
    height: 50px;

    md-menu:last-child {
      margin-right: -2px;
    }
  }

  .searchbox {
    padding: 4px 15px;
    overflow: hidden;
  }

  .md-button {
    margin: 0px;
    padding: 0px 2px;
    min-width: 0;
    margin-top: -5px;
    color: $blue-grey;
    * {
      text-transform: uppercase;

    }
  }

  md-icon {
    font-size: 28px;
    color: $blue-grey;

    &:hover {
      color: darken($blue-grey, 15%);
    }
  }
}

#content {
  background: $fill;

  .no-tasks {
    padding-bottom: 93px;

    md-icon {
      color: $purple;
      font-size: 202px;
      height: auto;
      opacity: .4;
      width: auto;
    }

    h3 {
      color: $purple;
      font: {
        family: sf_ui_textmedium;
        size: 22px;
      }
      letter-spacing: 1px;
      margin: 0;
      opacity: .4;
    }
  }

  .task-list {
    width: 621px;

    .md-button:focus,
    .md-button:hover {
      .md-off {
        border-color: $white;
      }
    }

    h4 {
      color: $blue-grey;
      font: {
        family: sf_ui_textsemibold;
        size: 15px;
      }
      margin: 17px 8px 4px 8px;

      span {
        font: {
          size: 12px;
        }
      }
    }

    .task {
      &:last-child {
        margin-bottom: 30px;
      }

      .md-button {
        padding: 0;
      }
    }

    md-list {
      padding: 0;
      border-radius: 10px;

      .md-list-item-inner {
        height: 100%;
      }

      md-list-item {
        height: 60px;
        box-sizing: border-box;
        padding: 0;

        &:not(:last-child)::after {
          content: ' ';
          width: 500px;
          height: 1px;
          background: $white-grey;
          margin: 0 auto;
          text-align: center;
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
        }

        .name {
          font: {
            size: 15px;
            family: sf_ui_textsemibold;
          }
          color: $black;
          margin: 0;
          padding: 0 16px;
        }
      }
    }

    md-radio-group {
      height: 100%;
      width: 85px;

      md-radio-button {
        height: 100%;
        &::after {
          content: ' ';
          background: $white-grey;
          height: 40px;
          width: 1px;
          position: absolute;
          right: 0;
          top: 10px;
        }

        .md-container {
          left: 0;
          right: 0;
          margin: auto;
        }

        .md-off {
          border-color: $light-grey;
          border-width: 3px;
        }
      }
    }
  }
}

md-menu-item {
  .md-button {
    md-icon {
      color: $blue-grey;
      font-size: 25px;
      height: auto;
      width: auto;
    }
  }
}

#newProject {
  position: fixed;
  height: 50px;
  width: 50px;
  text-shadow: none;
  right: 22px;
  bottom: 24px;

  &:hover {
    background: darken($purple, 15%);
  }

  md-icon {
    line-height: 30px;
    height: 30px;
    font-size: 30px;
    color: $white;
  }
}

.md-sidenav-right {
  width: 500px;
  max-width: 500px;
  background: $dark;
  overflow: hidden;

  * {
    color: $white;
  }

  h3 {
    font: {
      size: 18px;
      family: sf_ui_textmedium;
      weight: normal;
    }
    margin-bottom: 3px;
    margin-top: 27px;
    text-align: center;
  }

  .right-col {
    width: 79px;
  }

  .close-btn {
    position: absolute;

    .md-button {
      padding: 12px 11px;
      min-width: 0;
      text-align: center;

      margin: 0 auto;
      width: 100%;

      md-icon {
        font-size: 27px;
      }

      span {
        font-family: sf_ui_textsemibold;
        font-size: 9px;
        display: block;
        margin-top: -16px;
      }
    }
  }

  .md-input {
    border-color: $white;
  }

  .md-input-focused {
    color: $white;
  }

  md-input-container {
    width: 342px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;

    .md-errors-spacer {
      min-height: 14px;
    }

    &:not(:first-child) {
      margin-top: 0px;
    }

    label {
      padding-left: 4px !important;
    }

    .md-input {
      height: 34px;
    }

    label, .md-input {
      color: $white;
    }

    &.md-input-has-value {
      label {
        color: $white;
      }
    }

    &.md-input-focused {

      label {
        color: $white;
      }

      .md-input {
        border-color: $white;
        border-width: 0 0 1px 0;
        color: $white;
      }
    }
  }

  .content {
    font: {
      family: sf_ui_textregular;
      size: 12px;
    }
    margin-top: 26px;
    line-height: 22px;
    max-width: 350px;
  }

  .actions {
    padding-left: 9px;

    .md-button {
      width: auto;
      min-width: 0;
      margin: 0;
    }

    md-icon {
      color: $dark-grey;
      font-size: 18px;
    }
  }
}

.md-button {
  @extend %normal-case;
}

md-autocomplete {

  > md-autocomplete-wrap  {

    > md-progress-linear {
      display: none;
    }
  }
}

*:focus {
  outline: none !important;
}

/* ng-animate */
.repeat-item.ng-enter,
.repeat-item.ng-leave,
.toggled-item,
.fromleft-item {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active,
.toggled-item.ng-hide {
  opacity:0;

}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;

}
.repeat-item {

}
.delete {
  float: right;
}
.fromleft-item {
  left: 0;
}

.fromleft-item.ng-hide {
  left: -150%;
}

