%normal-case {
  text-transform: none;
}
body {
  overflow-x: hidden;

  * {
    @extend %normal-case;
  }
}

#sidenav {
  width: 342px;
  background-color: $dark;

  .md-button:hover,
  .md-button:focus {
    background-color: $purple;
  }
}

.md-button {
  @extend %normal-case;
}